@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700|Roboto:400,700&subset=latin,cyrillic);

body {
    font-family: 'Droid Serif', serif;
    font-size: 10pt;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24pt;
}

a:link {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

#opponents {
    display: flex;
    width: 100%;
}

.opponent {
    flex-grow: 1;
    border-width: 3px;
    border-style: dashed;
}

div.attacking {
    background-color: rgba(0, 0, 255, .2);
}

div.defending {
    background-color: rgba(255, 0, 0, .2);
}

div.surrendered {
    background-color: rgba(255, 0, 0, .6);
}

div.out {
    background-color: rgba(0, 0, 0, .4);
}

span.name {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    align-self: center;
}

#Player {
    margin-left: auto;
    margin-right: auto;
    width=400px;
    text-align: center;
    border: 3px dashed;
}

#hand {
    display: flex;
    justify-content: center;
    height: 100px;
}

#hand img {
    margin: 2px;
    border: 3px solid;
    border-color: transparent;
}

#hand img.selected {
   border-color: rgba(0, 255, 0, .8);
}

.card {
    height: 80px;
    width: auto;
}

#deck_image {
    height: 85px;
    width: auto;
}

#trump {
    transform: rotate(90deg);
    position: relative;
    right: 40px;
    z-index: -1;
}

.card_count {
    font-size: 36pt;
}

#deck {
    text-align: center;
    margin-top: 20px;
}

#table {
    border: 5px;
    border-style: solid;
    border-color: black;
}

#battlefield {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height = 100px;
    justify-content: center;
}

#battlefield div {
    margin-left: 5px;
    margin-right: 5px;
}

#attacking_slot {
    border-width: 2px;
    border-style: dotted;
    width: 55px;
    height: 80px;
    font-variant: small-caps;
    vertical-align: middle;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
}

#placeholder {
    width: 1px;
    height: 80px;
}

.status {
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    font-size: 14pt;
}

#information {
    text-align: center
}

#buttons {
    text-align: center
}

#buttons input {
    width: 10em;  height: 4em;
    padding-bottom: 2em;
    font-size: 20pt;
}

#status_text {
    font-size: 12pt;
}

.defending_card {
    position: relative;
    right: 45px;
    top: 10px;
    z-index: 2;
}

#trump_symbol {
    font-size: 80px;
}

.code {
    font-family: monospace;
}
